@media screen and (max-width:640px){

    .card-img-top{
        height: 200px;
        width: 200px;
    }
   .dash{
    font-size: 20px;
   }
    .text-area p{
        font-size: 16px;
    }

    .text-area h1{
        font-size: 22px;

    }

    #p-skill{
        font-size: 22px;
    }

    form{
        margin: auto;
        width: 70%;
    }

    .text-area table{
        font-size: 12px;
    }
   


}

