body{
    background: linear-gradient(45deg,rgb(62, 47, 47),rgb(88, 15, 76),rgba(29, 37, 183, 0.445));
    /* background:linear-gradient(45deg,brown,rgb(110, 115, 8)) */
    
}

.home-text h2 span{
    color: #a3ef5c;
    
    animation:display-text 6s linear infinite;
    animation-delay: calc(-2s* var(--i));
    display: inline-block;
}
@keyframes display-text{
    33%,100%{
        display: none;
    }
}

.card-img-top{
    height:250px;
    width:250px
}

.cv{
    font-size: 12px;
    font-weight: bold;
    background-color: rgb(58, 166, 58);
    border-radius: 20px;
    color: white;
    padding: 10px;
    margin: 15px;
    cursor: pointer;
    transition: 0.5s;
    
    
    border: none;
}

.cv:hover {
    background-color: white;
    color: #4CAF50;
    box-shadow: 0 0 10px #4CAF50 , 0 0 20px #4CAF50, 0 0 30px #4CAF50, 0 0 40px #4CAF50;
    
    transform: translateY(5px);
}



